*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;}

nav.nav-top{
    background-image: linear-gradient(to right, rgb(169, 152, 152), rgba(204, 7, 191, 0.769) );
}

nav.nav-top img{
    width: 50px;
}

.nav-top .sign-in{
    float: right;
    margin: 1.5rem 1rem;
    color: white;
}

.nav-top .sign-in a{
color:white;
text-decoration: none;
}

.nav-top .sign-in a:hover{
    color: black;
}

/* NAV MAİN */

.nav-main{
    position: sticky;
    background-color: #ffaa53;
    padding: 2rem;
    text-align: center;
    color: black;
    font-family: 'DynaPuff', cursive;

}

.nav-main a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 2rem;

}