
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;}

nav.nav-top{
    background-image: linear-gradient(to right,white,purple);
}

nav.nav-top img{
    width: 50px;
}

.nav-top .sign-in{
    float: right;
    margin: 1.5rem 1rem;
    color: white;
}

.nav-top .sign-in a{
color:white;
text-decoration: none;
}

.nav-top .sign-in a:hover{
    color: black;
}

/* NAV MAİN */